/* You can add global styles to this file, and also import other style files */
html {
    background-color: black;
}

body {
    margin: 0;
    overflow: hidden;
}

/* Medium */
@font-face {
    font-family: 'LL Riforma';
    src: url('/assets/fonts/LLRiforma-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'LL Riforma';
    src: url('/assets/fonts/LLRiforma-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'LL Riforma';
    src: url('/assets/fonts/LLRiforma-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}