.graphic-design-container {
    display: flex;
    align-items: center; /* Vertically align the text and icon */
    margin-left: 40px; /* Add left margin for overall container */
    margin-top: 42px; /* Maintain the top margin for the heading */
  }
  
  .goback {
    display: flex;
    align-items: center; /* Vertically align the arrow with the text */
    margin-right: 10px; /* Space between the arrow and the text */
    cursor: pointer; /* Indicate that it's clickable */
  }
  
  .goback img {
    width: 20px; /* Size of the arrow */
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 30px;
    font-family: 'LL Riforma', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0; /* Remove default margins from the heading */
    text-decoration: none;
    cursor: pointer; /* Indicate that it's clickable if you want */
  }
  